<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/jquery-3.6.1.min.js"></script>
    <title>echarts案例</title>
</head>
<body>


<!--<div id="kk" style="width: 600px;height:400px;"></div>-->
<div id="ditu" style="width: 600px;height:400px;"></div>
<!--<div id="kk" style="width: 600px;height:400px;"></div>-->
</body>
<script type="text/javascript">

    var chartDom = document.getElementById('ditu');
    var myChart = echarts.init(chartDom);

    var option;

    myChart.showLoading();
    $.get('../static/json/hongkong.json', function (geoJson) {//这里要改
        myChart.hideLoading();
        echarts.registerMap('HK', geoJson);
        myChart.setOption(
            (option = {
                title: {
                    text: 'Population Density of Hong Kong （2011）',
                    subtext: 'Data from Wikipedia',
                    sublink:
                        'http://zh.wikipedia.org/wiki/%E9%A6%99%E6%B8%AF%E8%A1%8C%E6%94%BF%E5%8D%80%E5%8A%83#cite_note-12'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{b}<br/>{c} (p / km2)'
                },
                toolbox: {
                    show: true,
                    orient: 'vertical',
                    left: 'right',
                    top: 'center',
                    feature: {
                        dataView: { readOnly: false },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                visualMap: {
                    min: 800,
                    max: 50000,
                    text: ['High', 'Low'],
                    realtime: false,
                    calculable: true,
                    inRange: {
                        color: ['lightskyblue', 'yellow', 'orangered']
                    }
                },
                series: [
                    {
                        name: '香港18区人口密度',
                        type: 'map',
                        map: 'HK',
                        label: {
                            show: true
                        },
                        data: [
                            { name: '中西区', value: 20057.34 },
                            { name: '湾仔区', value: 15477.48 },
                            { name: '东区', value: 31686.1 },
                            { name: '南区', value: 6992.6 },
                            { name: '油尖旺区', value: 44045.49 },
                            { name: '深水埗区', value: 40689.64 },
                            { name: '九龙城区', value: 37659.78 },
                            { name: '黄大仙区', value: 45180.97 },
                            { name: '观塘区', value: 55204.26 },
                            { name: '葵青区', value: 21900.9 },
                            { name: '荃湾区', value: 4918.26 },
                            { name: '屯门区', value: 5881.84 },
                            { name: '元朗区', value: 4178.01 },
                            { name: '北区', value: 2227.92 },
                            { name: '大埔区', value: 2180.98 },
                            { name: '沙田区', value: 9172.94 },
                            { name: '西贡区', value: 3368 },
                            { name: '离岛区', value: 806.98 }
                        ],
                        // 自定义名称映射
                        nameMap: {
                            'Central and Western': '中西区',
                            Eastern: '东区',
                            Islands: '离岛区',
                            'Kowloon City': '九龙城区',
                            'Kwai Tsing': '葵青区',
                            'Kwun Tong': '观塘区',
                            North: '北区',
                            'Sai Kung': '西贡区',
                            'Sha Tin': '沙田区',
                            'Sham Shui Po': '深水埗区',
                            Southern: '南区',
                            'Tai Po': '大埔区',
                            'Tsuen Wan': '荃湾区',
                            'Tuen Mun': '屯门区',
                            'Wan Chai': '湾仔区',
                            'Wong Tai Sin': '黄大仙区',
                            'Yau Tsim Mong': '油尖旺区',
                            'Yuen Long': '元朗区'
                        }
                    }
                ]
            })
        );
    });

    option && myChart.setOption(option);

</script>

<!--<script type="text/javascript">-->
<!--    // 基于准备好的dom，初始化echarts实例-->
<!--    var myChart = echarts.init(document.getElementById('kk'));-->
<!--    option = {-->
<!--        xAxis: {-->
<!--            type: 'category',-->
<!--            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']-->
<!--        },-->
<!--        yAxis: {-->
<!--            type: 'value'-->
<!--        },-->
<!--        series: [-->
<!--            {-->
<!--                data: [820, 932, 901, 934, 1290, 1330, 1320],-->
<!--                type: 'line',-->
<!--                smooth: true-->
<!--            }-->
<!--        ]-->
<!--    };-->
<!--    // 使用刚指定的配置项和数据显示图表。-->
<!--    myChart.setOption(option);-->
<!--</script>-->

<!--    <script type="text/javascript">-->
<!--        // 基于准备好的dom，初始化echarts实例  main-->
<!--        var myChart = echarts.init(document.getElementById('main'));-->

<!--        // 指定图表的配置项和数据-->
<!--        var option = {-->
<!--            title: {-->
<!--                text: 'ECharts 入门示例'-->
<!--            },-->
<!--            tooltip: {},-->
<!--            legend: {-->
<!--                data: ['销量']-->
<!--            },-->
<!--            xAxis: {-->
<!--                data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']-->
<!--            },-->
<!--            yAxis: {},-->
<!--            series: [-->
<!--                {-->
<!--                    name: '销量',-->
<!--                    type: 'bar',-->
<!--                    data: [5, 20, 36, 10, 10, 20]-->
<!--                }-->
<!--            ]-->
<!--        };-->

<!--        // 使用刚指定的配置项和数据显示图表。-->
<!--        myChart.setOption(option);-->
<!--    </script>-->




</html>